first one.json
{
  "name": "wiam",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        80
      ],
      "id": "5c0c5b38-470e-4bab-a201-3536b1aee55a",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nvJG2bOD6pRjvO6u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9484eb91-26ec-47ce-a598-f7a783f8edf3",
              "name": "name",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "d74e3033-3a43-49f1-a9da-87f11ef0b234",
              "name": "title",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "4d87e6e3-a0cf-431f-9d08-c6ffc3ece88f",
              "name": "subject",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        80
      ],
      "id": "719d1b7d-32e1-4576-9cd7-3e08d2837688",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1410673079889170574/n1v_A4m_VlNcO-rjjpFjX-PiD0Gy7JWhdar4A8mOE_UV_xGy24tQC2f_OEG-o5jyFo1v",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"📧 New Email!\\n\\nFrom: {{ $json.name }}\\nTitle: {{ $json.title }}\\nSubject: {{ $json.subject }}\"\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        80
      ],
      "id": "eebf4a12-d7a6-4724-a7c9-ecd94bdf5a98",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c945e5e-bf2f-4abf-a78e-780bb6b442e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ca2bcb93c45a0488fcd1e0492d53390d2b4c6eb6b0626ea995c51948e498d42"
  },
  "id": "jlv5bCkXtsHFfkZp",
  "tags": []
}